@font-face {
  font-family: 'skycar';
  src:  url('../assets/fonts/skycar.eot?bzwhlk');
  src:  url('../assets/fonts/skycar.eot?bzwhlk#iefix') format('embedded-opentype'),
    url('../assets/fonts/skycar.ttf?bzwhlk') format('truetype'),
    url('../assets/fonts/skycar.woff?bzwhlk') format('woff'),
    url('../assets/fonts/skycar.svg?bzwhlk#skycar') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'skycar' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-1:before {
  content: "\e900";
}
.icon-add-2:before {
  content: "\e901";
}
.icon-agree:before {
  content: "\e902";
}
.icon-appointment:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-backpack:before {
  content: "\e905";
}
.icon-bag:before {
  content: "\e906";
}
.icon-balance:before {
  content: "\e907";
  color: #4f4f4f;
}
.icon-banner:before {
  content: "\e908";
}
.icon-body:before {
  content: "\e909";
  color: #50b7cc;
}
.icon-briefcase:before {
  content: "\e90a";
}
.icon-bulb:before {
  content: "\e90b";
}
.icon-bus-1:before {
  content: "\e90c";
}
.icon-bus-2:before {
  content: "\e90d";
}
.icon-call:before {
  content: "\e90e";
}
.icon-card:before {
  content: "\e90f";
  color: #f2632b;
}
.icon-cars:before {
  content: "\e910";
}
.icon-charge:before {
  content: "\e911";
}
.icon-circle:before {
  content: "\e912";
}
.icon-city:before {
  content: "\e913";
}
.icon-clock:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e915";
}
.icon-commet:before {
  content: "\e916";
  color: #666868;
}
.icon-cooperation:before {
  content: "\e917";
}
.icon-coupon:before {
  content: "\e918";
}
.icon-double-arrow:before {
  content: "\e919";
}
.icon-driver:before {
  content: "\e91a";
}
.icon-girl:before {
  content: "\e91b";
  color: #ec78a4;
}
.icon-heart:before {
  content: "\e91c";
}
.icon-help:before {
  content: "\e91d";
}
.icon-home:before {
  content: "\e91e";
}
.icon-id-card:before {
  content: "\e91f";
}
.icon-info:before {
  content: "\e920";
}
.icon-location:before {
  content: "\e921";
}
.icon-luggage:before {
  content: "\e922";
}
.icon-microphone:before {
  content: "\e923";
}
.icon-my:before {
  content: "\e924";
}
.icon-next:before {
  content: "\e925";
}
.icon-order-fill:before {
  content: "\e926";
}
.icon-order-no:before {
  content: "\e927";
}
.icon-order-stroke:before {
  content: "\e928";
}
.icon-order-time:before {
  content: "\e929";
}
.icon-paper-plane:before {
  content: "\e92a";
}
.icon-peer:before {
  content: "\e92b";
}
.icon-person-1:before {
  content: "\e92c";
}
.icon-person-2:before {
  content: "\e92d";
}
.icon-phone:before {
  content: "\e92e";
}
.icon-plane-1:before {
  content: "\e92f";
}
.icon-plane-2:before {
  content: "\e930";
}
.icon-plane-3:before {
  content: "\e931";
}
.icon-return:before {
  content: "\e932";
}
.icon-route:before {
  content: "\e933";
  color: #ffc4a9;
}
.icon-sand-clock:before {
  content: "\e934";
}
.icon-search:before {
  content: "\e935";
}
.icon-stamp:before {
  content: "\e936";
}
.icon-star:before {
  content: "\e937";
}
.icon-steer:before {
  content: "\e938";
}
.icon-taxi:before {
  content: "\e939";
}
.icon-triangle:before {
  content: "\e93a";
}
.icon-us:before {
  content: "\e93b";
}
.icon-wallet:before {
  content: "\e93c";
}
.icon-wechat:before {
  content: "\e93d";
}
